.user-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 160px;
  padding: 1em;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px #efefef;
}

.user-name {
  font-weight: bold;
}

.user-topic {
  font-size: small;
  font-style: italic;
}
